{
    "swagger": "2.0",
    "info": {
        "description": "This is the API documentation for Warehouse Online",
        "version": "1.0.1",
        "title": "Warehouse Online - API Documentation",
        "termsOfService": "https://www.warehouse-online.nl/over-ons/general-conditions",
        "contact": {
            "email": "helpdesk@realtimesolutions.nl"
        },
        "license": {
            "name": "!!!!!!!!!Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "wms-intake.nl",
    "basePath": "/storage/swagger.php?id=",
    "tags": [{
        "name": "product",
        "description": "Insert or update products"
    },  {
        "name": "purchase order",
        "description": "Insert or update purchase orders",
        "externalDocs": {
            "description": "evt. link naar externe documentatie",
            "url": "http://who.nl"
        }
    }, {
        "name": "sales order",
        "description": "Insert or update sales orders"
    }],

    "schemes": ["https"],

    "paths": {
        "product": {
            "post": {
                "tags": ["product"],
                "summary": "Insert or update products",
                "description": "",
                "operationId": "postproduct",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Products to insert or update",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/product"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "purchaseOrder": {
            "post": {
                "tags": ["purchase order"],
                "summary": "Insert or update purchase orders",
                "description": "",
                "operationId": "postpo",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Purchase orders to insert or update",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/purchaseorder"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "salesOrder": {
            "post": {
                "tags": ["sales order"],
                "summary": "Insert or update sales orders",
                "description": "",
                "operationId": "postso",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Sales orders to insert or update",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/salesorder"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "shipment": {
            "get": {
                "tags": ["sales order"],
                "summary": "Shipment message",
                "description": "",
                "operationId": "getshipment",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "delivery": {
            "get": {
                "tags": ["purchase order"],
                "summary": "Confirmed delivery",
                "description": "",
                "operationId": "getdelivery",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "stockmutation": {
            "get": {
                "tags": ["product"],
                "summary": "Stock mutation",
                "description": "",
                "operationId": "getmutation",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic"
        }
    },

    "security": [{
        "basicAuth": []
    }],

    "definitions": {
        "ApiResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "type": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "product": {
            "type": "object",
            "required": ["product_reference"],
            "properties": {
                "owner_reference": {
                    "type": "string",
                    "example": "example-owner-ref"
                },
                "product_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-ref-01"
                },
                "article_reference": {
                    "type": "string",
                    "example": "example-article-ref"
                },
                "product_variant": {
                    "type": "string",
                    "example": "example-variant"
                },
                "product_sub_variant": {
                    "type": "string",
                    "example": "example-sub-variant"
                },
                "article_description": {
                    "type": "string",
                    "example": "example-article-desc"
                },
                "product_description_1": {
                    "type": "string",
                    "maxLength": 250,
                    "example": "example-description-01"
                },
                "product_description_2": {
                    "type": "string",
                    "maxLength": 250,
                    "example": "example-description-02"
                },
                "product_short_description": {
                    "type": "string",
                    "maxLength": 30,
                    "example": "example-short-description"
                },
                "product_phonetic_description": {
                    "type": "string",
                    "maxLength": 30,
                    "example": "example-phonetic-description"
                },
                "set_product_group_owner": {
                    "type": "string",
                    "example": "set-product-group"
                },
                "confirm_product_group_owner": {
                    "type": "string",
                    "example": "confirm-product-group"
                },
                "composite_product": {
                    "type": "string",
                    "example": "composite-product"
                },
                "image_uri": {
                    "type": "string",
                    "example": "example-uri"
                },
                "sales_price": {
                    "type": "number",
                    "format": "double",
                    "example": 2.49
                },
                "accounting_price": {
                    "type": "number",
                    "format": "double",
                    "example": 2.49
                },
                "currency_reference": {
                    "type": "string",
                    "example": "EUR"
                },
                "including_vat": {
                    "type": "boolean",
                    "example": true
                },
                "vat_code": {
                    "type": "string",
                    "example": "example-vat-code"
                },
                "location_reference": {
                    "type": "string",
                    "example": "example-location"
                },
                "minimum_stock": {
                    "type": "number",
                    "format": "double",
                    "example": 1
                },
                "maximum_stock": {
                    "type": "number",
                    "format": "double",
                    "example": 999
                },
                "weight": {
                    "type": "integer",
                    "example": 5000
                },
                "weight_unity": {
                    "type": "integer",
                    "enum": [0, 1, 2, 3]
                },
                "shelf_life_warehouse": {
                    "type": "integer",
                    "example": 90
                },
                "shelf_life_total": {
                    "type": "integer",
                    "example": 365
                },
                "batch_code_prefix": {
                    "type": "string",
                    "example": "AB12"
                },
                "type_of_picking": {
                    "type": "string",
                    "example": "1"
                },
                "type_of_replenishment": {
                    "type": "string",
                    "example": "2"
                },
                "product_ids": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/product_ids"
                    }
                },
                "product_groups": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#definitions/product_groups"
                    }
                },
                "supplier_conditions": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#definitions/supplier_conditions"
                    }
                },
                "properties": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#definitions/properties"
                    }
                }
            },
            "xml": {
                "name": "product"
            }
        },
        "product_ids": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "maxLength": 30,
                    "example": "exampleID"
                },
                "type": {
                    "type": "string",
                    "enum": ["REF", "EAN"]
                }
            },
            "xml": {
                "name": "product_ids"
            }
        },
        "product_groups": {
            "type": "object",
            "properties": {
                "product_group_reference": {
                    "type": "string",
                    "example": "example-prod-group-ref"
                },
                "product_group_description": {
                    "type": "string",
                    "example": "example-prod-group-desc"
                },
                "single_wave_products": {
                    "type": "string",
                    "example": "1"
                },
                "product_group_sorting_code": {
                    "type": "string",
                    "example": "example-prod-group-sort-code"
                },
                "prefix_reference_with_master": {
                    "type": "string",
                    "example": "22A"
                }
            }
        },
        "supplier_conditions": {
            "type": "object",
            "properties": {
                "supplier_reference": {
                    "type": "string",
                    "example": "example-supplier"
                },
                "supplier_product_reference": {
                    "type": "string",
                    "example": "example-supplier-product-ref"
                },
                "purchase_price": {
                    "type": "number",
                    "format": "double",
                    "example": 1.49
                },
                "order_quantity": {
                    "type": "string",
                    "example": "12"
                },
                "minimum_order_size": {
                    "type": "string",
                    "example": "6"
                },
                "delivery_time": {
                    "type": "string",
                    "example": "60"
                },
                "ordering_formula": {
                    "type": "string",
                    "example": "example-ordering-formula"
                }
            }
        },
        "purchaseorder": {
            "type": "object",
            "required": ["product_reference"],
            "properties": {
                "owner_reference": {
                    "type": "string",
                    "example": "example-owner-ref"
                },
                "order_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-order-ref-01"
                },
                "order_type": {
                    "type": "string",
                    "enum": ["PO", "RSO"]
                },
                "warehouse_reference": {
                    "type": "string",
                    "example": "example-warehouse-ref"
                },
                "expected_arrival_date": {
                    "type": "string",
                    "example": "2023-01-01"
                },
                "order_description": {
                    "type": "string",
                    "example": "example-order-desc"
                },
                "process_type_reference": {
                    "type": "string",
                    "example": "IN01"
                },
                "cost_centre_reference": {
                    "type": "string",
                    "example": "example-cost-centre-ref"
                },
                "auto_close_allowed": {
                    "type": "string",
                    "example": "Yes"
                },
                "status": {
                    "type": "string",
                    "example": "processing"
                },
                "reservation_reference": {
                    "type": "string",
                    "example": "example-res-ref"
                },
                "supplier": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/relation"
                    }
                },
                "order_lines": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/purchase_order_lines"
                    }
                }
            },
            "xml": {
                "name": "product"
            }
        },
        "purchase_order_lines": {
            "type": "object",
            "properties": {
                "update_code": {
                    "type": "string",
                    "enum": ["NEW", "INSERT_AND_UPDATE", "DELETE"]
                },
                "order_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-order-ref-01"
                },
                "line_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-line-ref-01"
                },
                "line_description": {
                    "type": "string",
                    "example": "example-line-desc-01"
                },
                "product_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-ref-01"
                },
                "base_product_reference": {
                    "type": "string",
                    "example": "base-product-ref"
                },
                "product_variant": {
                    "type": "string",
                    "example": "example-variant-01"
                },
                "product_sub_variant": {
                    "type": "string",
                    "example": "example-sub-variant"
                },
                "packaging_reference": {
                    "type": "string",
                    "example": "example-packaging-ref"
                },
                "reservation_reference": {
                    "type": "string",
                    "example": "example-res-ref"
                },
                "section_reference": {
                    "type": "string",
                    "example": "example-section-ref"
                },
                "order_line_quantity": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 99999,
                    "example": 10
                },
                "properties": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#definitions/properties"
                    }
                }
            },
            "xml": {
                "name": "order_lines"
            }
        },
        "salesorder": {
            "type": "object",
            "required": ["product_reference"],
            "properties": {
                "update_code": {
                    "type": "string",
                    "enum": ["NEW", "INSERT_AND_UPDATE", "DELETE"]
                },
                "order_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-order-ref-01"
                },
                "sales_channel_reference": {
                    "type": "string",
                    "example": "example-sales-channel"
                },
                "owner_reference": {
                    "type": "string",
                    "example": "example-owner-ref"
                },
                "create_shipment": {
                    "type": "boolean",
                    "example": false
                },
                "customer_order_reference": {
                    "type": "string",
                    "example": "example-customer-order-ref"
                },
                "delivery_date" : {
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-01-02 12:30:45"
                },
                "first_delivery_date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-01-01 08:00:00"
                },
                "latest_delivery_date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2023-01-04 18:00:00"
                },
                "erp_pick_list_description": {
                    "type": "string",
                    "example": "example-pick-list"
                },
                "giftservice_hashgifts": {
                    "type": "string",
                    "example": "Yes"
                },
                "giftservice_message": {
                    "type": "string",
                    "example": "Congratulations"
                },
                "on_hold": {
                    "type": "string",
                    "example": "No"
                },
                "order_description": {
                    "type": "string",
                    "example": "example-order-desc"
                },
                "order_entry_date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-11-30 16:12:56"
                },
                "order_reference_extra": {
                    "type": "string",
                    "example": "example-order-desc-extra"
                },
                "order_type": {
                    "type": "string",
                    "example": "SO"
                },
                "partial_delivery_allowed": {
                    "type": "string",
                    "example": "Yes"
                },
                "picking_task_name": {
                    "type": "string",
                    "example": "example-pick-task-name"
                },
                "picking_task_reference": {
                    "type": "string",
                    "example": "example-pick-task-ref"
                },
                "priority": {
                    "type": "integer",
                    "example": 1
                },
                "process_type_reference": {
                    "type": "string",
                    "example": "OP03"
                },
                "reservation_reference": {
                    "type": "string",
                    "example": "example-reservation"
                },
                "send_list_description": {
                    "type": "string",
                    "example": "example-send-list"
                },
                "send_list_reference": {
                    "type": "string",
                    "example": "example-send-list-ref"
                },
                "send_type_reference": {
                    "type": "string",
                    "example": "example-send-type-ref"
                },
                "send_type_classification": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/send_type_classification"
                    }
                },
                "shipping_agent_code": {
                    "type": "string",
                    "example": "example-shipping-agent"
                },
                "shipping_agent_service_code": {
                    "type": "string",
                    "example": "example-ship-service-code"
                },
                "shipment_reference": {
                    "type": "string",
                    "example": "example-ship-ref"
                },
                "shipment_type": {
                    "type": "string",
                    "example": "example-ship-type"
                },
                "status": {
                    "type": "string",
                    "example": "processing"
                },
                "warehouse_reference": {
                    "type": "string",
                    "example": "example-warehouse-ref"
                },
                "route_number": {
                    "type": "string",
                    "example": "example-route"
                },
                "currency_reference": {
                    "type": "string",
                    "example": "EUR"
                },
                "order_total_price": {
                    "type": "double",
                    "example": 14.49
                },
                "order_total_tax": {
                    "type": "double",
                    "example": 3.33
                },
                "order_total_price_incl_tax": {
                    "type": "double",
                    "example": 17.82
                },
                "order_discount_price": {
                    "type": "double",
                    "example": 2.00
                },
                "order_shipping_costs": {
                    "type": "double",
                    "example": 2.25
                },
                "order_shipping_tax": {
                    "type": "double",
                    "example": 0.75
                },
                "order_shipping_costs_incl_tax": {
                    "type": "double",
                    "example": 3.00                    
                },
                "run_number": {
                    "type": "string",
                    "example": "example-run-no"
                },
                "customer": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/relation"
                    }
                },
                "invoice": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/relation"
                    }
                },
                "pod": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/relation"
                    }
                },
                "sender": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/relation"
                    }
                },
                "pickup": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/relation"
                    }
                },
                "order_lines": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/sales_order_lines"
                    }
                }
            }
        },

        "sales_order_lines": {
            "type": "object",
            "properties": {
                "update_code": {
                    "type": "string",
                    "enum": ["NEW", "INSERT_AND_UPDATE", "DELETE"]
                },
                "order_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-order-ref-01"
                },
                "order_description": {
                    "type": "string",
                    "maxLength": 250,
                    "example": "example-order-desc"
                },
                "order_line_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-line-ref-01"
                },
                "product_reference": {
                    "type": "string",
                    "example": "example-product-ref"
                },
                "base_product_reference": {
                    "type": "string",
                    "example": "example-base-product-ref"
                },
                "process_type_code": {
                    "type": "string",
                    "example": "OP03"
                },
                "product_variant": {
                    "type": "integer",
                    "example": 4
                },
                "product_sub_variant": {
                    "type": "integer",
                    "example": 56
                },
                "customer_order_reference": {
                    "type": "string",
                    "example": "example-customer-order-ref"
                },
                "order_line_quantity": {
                    "type": "integer",
                    "example": 12
                },
                "picking_line_reference": {
                    "type": "string",
                    "example": "example-pick-line-ref"
                },
                "picking_line_quantity": {
                    "type": "integer",
                    "example": 6
                },
                "order_line_description": {
                    "type": "string",
                    "example": "example-order-line-desc"
                },
                "run_number": {
                    "type": "string",
                    "example": "example-run-no"
                },
                "packaging_reference": {
                    "type": "string",
                    "example": "example-packaging-ref"
                },
                "reservation_reference": {
                    "type": "string",
                    "example": "example-res-ref"
                },
                "batch_reference": {
                    "type": "string",
                    "example": "example-batch-ref"
                },
                "picking_task_reference": {
                    "type": "string",
                    "example": "example-pick-task-ref"
                },
                "erp_pick_list_line_reference": {
                    "type": "string",
                    "example": "example-erp-pick-line-ref"
                },
                "ool_shipment_reference": {
                    "type": "string",
                    "example": "example-ool-ship-ref"
                },
                "isagift": {
                    "type": "string",
                    "example": "Yes"
                },
                "scan_message": {
                    "type": "string",
                    "example": "example-scan-message"
                },
                "ool_sorting_code": {
                    "type": "string",
                    "example": "example-ool-sort-code"
                },
                "price": {
                    "type": "double",
                    "example": 12.49
                },
                "price_incl_tax": {
                    "type": "double",
                    "example": 14.99
                },
                "line_total_price": {
                    "type": "float",
                    "example": 22.22
                },
                "properties": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#definitions/properties"
                    }
                }
            },
            "xml": {
                "name": "order_lines"
            }
        },

        "relation": {
            "type": "object",
            "required": ["relation_type", "reference", "name"],
            "properties": {
                "relation_type": {
                    "type": "string",
                    "enum": ["supplier", "pod", "customer", "invoice", "sender", "pickup"],
                    "example": "relation-type"
                },
                "update_code": {
                    "type": "string",
                    "example": "NEW",
                    "enum": ["NEW", "INSERT_AND_UPDATE"]
                },
                "reference": {
                    "type": "string",
                    "example": "example-relation-ref-01"
                },
                "name": {
                    "type": "string",
                    "example": "example-relation-name"
                },
                "contact_name": {
                    "type": "string",
                    "example": "John Doe"
                },
                "company_name": {
                    "type": "string",
                    "example": "example-company-name"
                },
                "street_name": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-street"
                },
                "house_number": {
                    "type": "string",
                    "example": "123"
                },
                "house_number_extension": {
                    "type": "string",
                    "example": "A-C"
                },
                "address_line_2": {
                    "type": "string",
                    "example": "example-extra-address-line"
                },
                "address_line_3": {
                    "type": "string",
                    "example": "1st floor"
                },
                "zip_code": {
                    "type": "string",
                    "example": "1234AB"
                },
                "city": {
                    "type": "string",
                    "example": "Eindhoven"
                },
                "state": {
                    "type": "string",
                    "example": "example-state"
                },
                "country_reference": {
                    "type": "string",
                    "format": "ISO-3166",
                    "example": "NL"
                },
                "po_box_number": {
                    "type": "string",
                    "example": "123456789"
                },
                "po_box_zip_code": {
                    "type": "string",
                    "example": "1122AA"
                },
                "po_box_city": {
                    "type": "string",
                    "example": "Eindhoven"
                },
                "telephone_number": {
                    "type": "string",
                    "example": "+31 40 304 6330"
                },
                "mobile_number": {
                    "type": "string",
                    "example": "+316 123 12 123"
                },
                "fax_number": {
                    "type": "string",
                    "example": "+31-208-1234567"
                },
                "email_address": {
                    "type": "string",
                    "format": "email",
                    "example": "john.doe@example.com"
                },
                "gln_code": {
                    "type": "string",
                    "example": "0847976000005"
                },
                "vat_number": {
                    "type": "string",
                    "example": "NL000099998B57"
                },
                "address_type": {
                    "type": "string",
                    "maxLength": 1,
                    "example": "C",
                    "enum": ["C", "P"],
                    "description": "C = Customer, P = Private"

                },
                "bank_account": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/bank_account"
                    }
                }
            }
        },

        "properties": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "example": "property-name"
                },
                "value": {
                    "type": "string",
                    "example": "property-value"
                }
            },
            "xml": {
                "name": "properties"
            }
        },

        "send_type_classification": {
            "type": "object",
            "properties": {
                "send_type_code": {
                    "type": "string",
                    "example": "example-send-type-code"
                },
                "st_class_reference": {
                    "type": "string",
                    "example": "example-st-class-ref"
                },
                "st_agent_shipping_code": {
                    "type": "string",
                    "example": "example-st-agent-ship-code"
                },
                "st_agent_shipping_service_code": {
                    "type": "string",
                    "example": "example-st-agent-ship-service-code"
                },
                "st_class_description": {
                    "type": "string",
                    "example": "example-st-class-desc"
                },
                "st_sender_reference": {
                    "type": "string",
                    "example": "example-st-sender-ref"
                }
            },
            "xml": {
                "name": "send_type_classification"
            }
        },

        "bank_account": {
            "type": "object",
            "properties": {
                "update_code": {
                    "type": "string",
                    "example": "NEW",
                    "enum": ["NEW", "INSERT_AND_UPDATE"]
                },
                "reference": {
                    "type": "string",
                    "example": "example-bank-account-ref"
                },
                "holder_name": {
                    "type": "string",
                    "example": "example-bank-holder"
                },
                "iban": {
                    "type": "string",
                    "example": "NL02ABNA0123456789"
                },
                "bic": {
                    "type": "string",
                    "example": "ABNANL2A"
                }
            }
        }
    }
}