{
	"swagger": "2.0", 
	"info": {
		"description": "This is the API documentation for Warehouse Online",
		"version": "1.0.0",
		"title": "Warehouse Online",
		"termsOfService": "https://www.warehouse-online.nl/over-ons/general-conditions",
		"contact": {
			"email": "helpdesk@realtimesolutions.nl"
		},
		"license": {
			"name": "!!!!!!!!!Apache 2.0",
			"url": "http://www.apache.org/licenses/LICENSE-2.0.html"
		}
	},
	"host": "p1.realtime.eu",
	"basePath": "/rest/dataflow",
	"tags": [{
		"name": "product",
		"description": "Insert or update products"
	}, {
		"name": "purchase order",
		"description": "Insert or update purchase orders",
		"externalDocs": {
			"description": "evt. link naar externe documentatie",
			"url": "http://who.nl"
		}
	}, {
        "name": "sales order",
        "description": "Insert or update sales orders"
    }, {
        "name": "relation",
        "description": "Insert or update relations"
    }],

	"schemes": ["https"],

	"paths": {
		"/@817/message": {
			"post": {
				"tags": ["product"],
				"summary": "Insert or update products",
				"description": "",
				"operationId": "postproduct",
				"consumes": ["application/json", "application/xml"],
				"produces": ["application/json", "application/xml"],
				"parameters": [{
					"in": "body",
					"name": "body",
					"description": "Products to insert or update",
					"required": true,
					"schema": {
						"$ref": "#/definitions/product"
					}
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
				},
				"security": [{
					"basic": []
				}]
			}
		},
        "/@820/message": {
			"post": {
				"tags": ["purchase order"],
				"summary": "Insert or update purchase orders",
				"description": "",
				"operationId": "postpo",
				"consumes": ["application/json", "application/xml"],
				"produces": ["application/json", "application/xml"],
				"parameters": [{
					"in": "body",
					"name": "body",
					"description": "Purchase orders to insert or update",
					"required": true,
					"schema": {
						"$ref": "#/definitions/purchaseorder"
					}
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
				}
			}
		}
	},
	"securityDefinitions": {
		"api_key": {
			"type": "apiKey",
			"name": "api_key",
			"in": "header"
		},
		"petstore_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://petstore.swagger.io/oauth/authorize",
			"flow": "implicit",
			"scopes": {
				"read:pets": "read your pets",
				"write:pets": "modify pets in your account"
			}
		},
        "basicAuth": {
            "type": "basic"
        }
	},

    "security": {
        "basicAuth": []
    },

	"definitions": {
		"ApiResponse": {
			"type": "object",
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32"
				},
				"type": {
					"type": "string"
				},
				"message": {
					"type": "string"
				}
			}
		},
		"product": {
			"type": "object",
			"required": ["product_reference"],
			"properties": {
				"product_reference": {
					"type": "string",
                    "maxLength": 50,
                    "example": "example-ref-01"
				},
				"product_description_1": {
					"type": "string",
                    "maxLength": 250,
					"example": "example-description-01"
				},
				"product_ids": {
					"type": "array",
					"xml": {
						"wrapped": true
					},
					"items": {
						"xml": {
							"name": "tag"
						},
						"$ref": "#/definitions/product_ids"
					}
				}
			},
			"xml": {
				"name": "product"
			}
		},
		"product_ids": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string",
					"maxLength": 30,
                    "example": "exampleID"
				},
				"type": {
					"type": "string",
                    "enum": ["REF", "EAN"]
				}
			},
			"xml": {
				"name": "product_ids"
			}
		},
        "purchaseorder": {
			"type": "object",
			"required": ["product_reference"],
			"properties": {
				"order_reference": {
					"type": "string",
                    "maxLength": 50,
                    "example": "example-order-ref-01"
				},
				"order_type": {
					"type": "string",
					"enum": ["PO", "RSO"]
				},
				"order_lines": {
					"type": "array",
					"xml": {
						"wrapped": true
					},
					"items": {
						"xml": {
							"name": "tag"
						},
						"$ref": "#/definitions/order_lines"
					}
				}
			},
			"xml": {
				"name": "product"
			}
		},
		"order_lines": {
			"type": "object",
			"properties": {
				"update_code": {
					"type": "string",
                    "enum": ["NEW", "INSERT_AND_UPDATE", "DELETE"]
				},
				"order_reference": {
					"type": "string",
                    "maxLength": 50,
                    "example": "example-order-ref-01"
				},
                "line_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-line-ref-01"
                },
                "product_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-ref-01"
                },
                "order_line_quantity": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 99999,
                    "example": 10
                }
			},
			"xml": {
				"name": "order_lines"
			}
		}
	},
	"externalDocs": {
		"description": "Find out more about Swagger",
		"url": "http://swagger.io"
	}
}