{
    "swagger": "2.0",
    "info": {
        "description": "This is the API documentation for Warehouse Online",
        "version": "1.0.0",
        "title": "Warehouse Online",
        "termsOfService": "https://www.warehouse-online.nl/over-ons/general-conditions",
        "contact": {
            "email": "helpdesk@realtimesolutions.nl"
        },
        "license": {
            "name": "!!!!!!!!!Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "p1.realtime.eu",
    "basePath": "/rest/dataflow",
    "tags": [{
        "name": "product",
        "description": "Insert or update products"
    }, {
        "name": "purchase order",
        "description": "Insert or update purchase orders",
        "externalDocs": {
            "description": "evt. link naar externe documentatie",
            "url": "http://who.nl"
        }
    }, {
        "name": "sales order",
        "description": "Insert or update sales orders"
    }, {
        "name": "relation",
        "description": "Insert or update relations"
    }],

    "schemes": ["https"],

    "paths": {
        "/@817/message": {
            "post": {
                "tags": ["product"],
                "summary": "Insert or update products",
                "description": "",
                "operationId": "postproduct",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Products to insert or update",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/product"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [{
                    "basic": []
                }]
            }
        },
        "/@820/message": {
            "post": {
                "tags": ["purchase order"],
                "summary": "Insert or update purchase orders",
                "description": "",
                "operationId": "postpo",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Purchase orders to insert or update",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/purchaseorder"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/@864/message": {
            "post": {
                "tags": ["sales order"],
                "summary": "Insert or update sales orders",
                "description": "",
                "operationId": "postso",
                "consumes": ["application/json", "application/xml"],
                "produces": ["application/json", "application/xml"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Sales orders to insert or update",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/salesorder"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic"
        }
    },

    "security": [{
        "basicAuth": []
    }],

    "definitions": {
        "ApiResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "type": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "product": {
            "type": "object",
            "required": ["product_reference"],
            "properties": {
                "owner_reference": {
                    "$ref": "#definitions/owner_reference"
                },
                "product_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-ref-01"
                },
                "article_reference": {
                    "type": "string",
                    "example": "example-article-ref"
                },
                "product_variant": {
                    "type": "string",
                    "example": "example-variant"
                },
                "product_sub_variant": {
                    "type": "string",
                    "example": "example-sub-variant"
                },
                "article_description": {
                    "type": "string",
                    "example": "example-article-desc"
                },
                "product_description_1": {
                    "type": "string",
                    "maxLength": 250,
                    "example": "example-description-01"
                },
                "product_description_2": {
                    "type": "string",
                    "maxLength": 250,
                    "example": "example-description-02"
                },
                "product_short_description": {
                    "type": "string",
                    "maxLength": 30,
                    "example": "example-short-description"
                },
                "product_phonetic_description": {
                    "type": "string",
                    "maxLength": 30,
                    "example": "example-phonetic-description"
                },
                "set_product_group_owner": {
                    "type": "string",
                    "example": "set-product-group"
                },
                "confirm_product_group_owner": {
                    "type": "string",
                    "example": "confirm-product-group"
                },
                "composite_product": {
                    "type": "string",
                    "example": "composite-product"
                },
                "image_uri": {
                    "type": "string",
                    "example": "example-uri"
                },
                "sales_price": {
                    "type": "float",
                    "example": 2.49
                },
                "accounting_price": {
                    "type": "float",
                    "example": 2.49
                },
                "currency_reference": {
                    "type": "string",
                    "example": "EUR"
                },
                "including_vat": {
                    "type": "boolean",
                    "example": true
                },
                "vat_code": {
                    "type": "string",
                    "example": "example-vat-code"
                },
                "location_reference": {
                    "type": "string",
                    "example": "example-location"
                },
                "minimum_stock": {
                    "type": "float",
                    "example": 1
                },
                "maximum_stock": {
                    "type": "float",
                    "example": 999
                },
                "weight": {
                    "type": "integer",
                    "example": 5000
                },
                "weight_unity": {
                    "type": "integer",
                    "enum": [0, 1, 2, 3]
                },
                "shelf_life_warehouse": {
                    "type": "integer",
                    "example": 90
                },
                "shelf_life_total": {
                    "type": "integer",
                    "example": 365
                },
                "batch_code_prefix": {
                    "type": "string",
                    "example": "AB12"
                },
                "type_of_picking": {
                    "type": "string",
                    "example": "1"
                },
                "type_of_replenishment": {
                    "type": "string",
                    "example": "2"
                },
                "product_ids": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/product_ids"
                    }
                },
                "product_groups": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#definitions/product_groups"
                    }
                },
                "supplier_conditions": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#definitions/supplier_conditions"
                    }
                },
                "properties": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#definitions/properties"
                    }
                }
            },
            "xml": {
                "name": "product"
            }
        },
        "product_ids": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "maxLength": 30,
                    "example": "exampleID"
                },
                "type": {
                    "type": "string",
                    "enum": ["REF", "EAN"]
                }
            },
            "xml": {
                "name": "product_ids"
            }
        },
        "product_groups": {
            "type": "object",
            "properties": {
                "product_group_reference": {
                    "type": "string",
                    "example": "example-prod-group-ref"
                },
                "product_group_description": {
                    "type": "string",
                    "example": "example-prod-group-desc"
                },
                "single_wave_products": {
                    "type": "string",
                    "example": "1"
                },
                "product_group_sorting_code": {
                    "type": "string",
                    "example": "example-prod-group-sort-code"
                },
                "prefix_reference_with_master": {
                    "type": "string",
                    "example": "22A"
                }
            }
        },
        "supplier_conditions": {
            "type": "object",
            "properties": {
                "supplier_reference": {
                    "type": "string",
                    "example": "example-supplier"
                },
                "supplier_product_reference": {
                    "type": "string",
                    "example": "example-supplier-product-ref"
                },
                "purchase_price": {
                    "type": "float",
                    "example": 1.49
                },
                "order_quantity": {
                    "type": "string",
                    "example": "12"
                },
                "minimum_order_size": {
                    "type": "string",
                    "example": "6"
                },
                "delivery_time": {
                    "type": "string",
                    "example": "60"
                },
                "ordering_formula": {
                    "type": "string",
                    "example": "example-ordering-formula"
                }
            }
        },
        "purchaseorder": {
            "type": "object",
            "required": ["product_reference"],
            "properties": {
                "owner_reference": {
                    "$ref": "#definitions/owner_reference"
                },
                "order_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-order-ref-01"
                },
                "order_type": {
                    "type": "string",
                    "enum": ["PO", "RSO"]
                },
                "warehouse_reference": {
                    "type": "string",
                    "example": "example-warehouse-ref"
                },
                "expected_arrival_date": {
                    "type": "string",
                    "example": "2023-01-01"
                },
                "order_description": {
                    "type": "string",
                    "example": "example-order-desc"
                },
                "process_type_reference": {
                    "type": "string",
                    "example": "IN01"
                },
                "cost_centre_reference": {
                    "type": "string",
                    "example": "example-cost-centre-ref"
                },
                "auto_close_allowed": {
                    "type": "string",
                    "example": "Yes"
                },
                "status": {
                    "type": "string",
                    "example": "processing"
                },
                "reservation_reference": {
                    "type": "string",
                    "example": "example-res-ref"
                },
                "supplier": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/relation"
                    }
                },
                "order_lines": {
                    "type": "array",
                    "xml": {
                        "wrapped": true
                    },
                    "items": {
                        "xml": {
                            "name": "tag"
                        },
                        "$ref": "#/definitions/order_lines"
                    }
                }
            },
            "xml": {
                "name": "product"
            }
        },
        "order_lines": {
            "type": "object",
            "properties": {
                "update_code": {
                    "type": "string",
                    "enum": ["NEW", "INSERT_AND_UPDATE", "DELETE"]
                },
                "order_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-order-ref-01"
                },
                "line_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-line-ref-01"
                },
                "product_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-ref-01"
                },
                "order_line_quantity": {
                    "type": "integer",
                    "format": "int32",
                    "maximum": 99999,
                    "example": 10
                }
            },
            "xml": {
                "name": "order_lines"
            }
        },
        "salesorder": {
            "type": "object",
            "required": ["product_reference"],
            "properties": {
                "update_code": {
                    "type": "string",
                    "enum": ["NEW", "INSERT_AND_UPDATE", "DELETE"]
                },
                "order_reference": {
                    "type": "string",
                    "maxLength": 50,
                    "example": "example-order-ref-01"
                }
            }
        },

        "relation": {
            "type": "object",
            "required": ["relation_type", "reference", "name"],
            "properties": {
                "relation_type": {
                    "type": "string",
                    "enum": ["supplier", "pod", "customer", "invoice", "sender", "pickup"]
                },
                "update_code": {
                    "type": "string",
                    "example": "NEW"
                },
                "reference": {
                    "type": "string",
                    "example": "example-relation-ref-01"
                }
            }
        },
        "properties": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "example": "property-name"
                },
                "value": {
                    "type": "string",
                    "example": "property-value"
                }
            },
            "xml": {
                "name": "product_ids"
            }
        },

        "owner_reference": {
            "type": "string",
            "example": "example-owner-ref"
        }
    }
}